<html>
    <head>
        <title>Silvi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Silvi's Blog</a></h1>
        </div>

        <div>
            <p>published: 26.09.2015, 15:14</p>
            <h2><a href="">Hello there!</a></h2>
            <p>So this is actually working. Amazing.</p>
        </div>

        <div>
            <p>published: 26.09.2015, 15:14</p>
            <h2><a href="">Hello again!</a></h2>
            <p>Still working. Pretty cool.</p>
        </div>
    </body>
</html>
